@forward './assets/scss/reset';

body {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1rem;
  // font-family: 'PT Serif', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
